<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Excel XLSX Spreadsheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Excel 97-2003 XLS Spreadsheet</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Hancom HWP Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.rivo.visioncraft.hwp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Hancom HWPX Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.rivo.visioncraft.hwpx</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.rivo.visioncraft.share-inbox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rivopad</string>
			</array>
		</dict>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Rivo Three 또는 Mini 리모컨을 검색하고 앱 내부 기능을 조작하기 위해 Bluetooth를 사용합니다.</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareRoundOTFEB.otf</string>
		<string>Batang-Regular.ttf</string>
		<string>Gungsuh-Regular.ttf</string>
		<string>Gulim-Regular.ttf</string>
		<string>Dotum-Regular.ttf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-Bold.otf</string>
		<string>NanumSquareNeoOTF-Rg.otf</string>
		<string>NanumSquareNeoOTF-Eb.otf</string>
		<string>MaruBuri-Regular.otf</string>
		<string>MaruBuri-Bold.otf</string>
		<string>PureBatang-Medium.otf</string>
		<string>PureBatang-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hancom HWP Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.rivo.visioncraft.hwp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwp</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-hwp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hancom HWPX Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.rivo.visioncraft.hwpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hwpx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/hwp+zip</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
